name: Deploy Staging

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ec2-user/paulo-direct-store
            git pull origin main
            docker compose -f docker-compose.prod.yml up -d --build
            docker exec paulodirect-app composer install --no-interaction --optimize-autoloader --no-dev
            docker exec paulodirect-app php artisan migrate --force
            docker exec paulodirect-app php artisan view:clear
            docker exec paulodirect-app php artisan route:clear
            docker exec paulodirect-app php artisan config:clear
            docker exec paulodirect-app php artisan optimize
